*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body{
    width: 100%;
    background-color: #f0f0f0;
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #f9f9fb;
    z-index: 40;
    position: fixed;
    padding: 10px 0px;
    box-shadow: 0px 2px 6px #69696969;
}
.logo{
    width: 160px;
    object-fit: contain;
    margin-left: 100px;
}
header nav{
    margin-left: 20%;
}

header nav li{
    display: inline;
    margin:0px 15px;
}

header nav li a{
    text-decoration: none;
    color:#000;
}

header .login-btn{
    padding: 11px 35px;
    text-decoration: none;
    background-color: rgb(1, 150, 1);
    color: #fff;
    border-radius: 8px;
    margin-left: 40px;
    cursor: pointer;
    font-size: 14px;
}

main{
    width: 100%;
}
.fixed-header{
    width: 100%;
    background-color: #f9f9fb;
    height: 80px;
}
.banner-display{
    width: 100%;
    height: 70vh;
    background-image: url(../image/School_Entrance_Image.jpg);
    background-position: center;
    background-size: cover;
}

.banner-content{
    width: 100%;
    height: 100%;
    background-color: #1b1b1b57;
    padding: 100px;
}
.banner-content h1{
    font-size: 3.5em;
    width: 70%;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.banner-content h3{
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.5;
    width: 70%;
    color: rgb(21, 255, 0);
}

.admission-page-content{
    width: 100%;
    padding: 50px 60px 100px 60px;
}

.accordion-content{
    box-shadow: 0px 2px 6px #69696969;
    border-radius: 10px;
  
}

.accordion-item{
    padding: 20px;
}

.accordion-item button{
    font-size: 22px;
    font-weight: 300;
}

.admission-btns button{
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 160px;
    padding: 10px;
    margin-right: 20px;
}

.admission-btns a{
    color: rgb(0, 177, 0);
    text-decoration: none;
    transition: 0.2;
}

.admission-btns a:hover{
    color: rgb(0, 196, 75);
}

.admission-status-btns button{
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    margin-left: 20px;
}